<MudAppBar Color="Color.Surface" Elevation="0">
    <MudTooltip Text="Toggle Drawer">
        <MudIconButton Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
    </MudTooltip>
    <MudButton Variant="Variant.Text" Color="Color.Transparent" Href="/" DropShadow="false">
         fullstackhero
     </MudButton>
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Primary"
            Href="https://opencollective.com/fullstackhero" Target="_blank" StartIcon="@Icons.Material.Filled.Favorite">
            Sponsor</MudButton>
        <MudToggleIconButton @bind-Toggled="@_isDarkMode" Icon="@Icons.Material.Filled.WbSunny"
                             Color="@Color.Warning" title="off" Class="d-flex ml-auto" ToggledIcon="@Icons.Material.Filled.DarkMode"
                             ToggledColor="@Color.Surface" toggledTitle="on" style="left:8px!important" @onclick="@ToggleDarkMode" />
        <MudTooltip Text="Support">
             <MudMenu Icon="@Icons.Material.Filled.SupportAgent" Color="Color.Inherit" Dense="true" AnchorOrigin="Origin.CenterRight">
                <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Community</b></MudText>
                <MudMenuItem Href="https://discord.gg/yQWpShsKrf" Target="_blank">Discord</MudMenuItem>
                <MudMenuItem Href="https://www.facebook.com/codewithmukesh" Target="_blank">Facebook
                </MudMenuItem>
                <MudMenuItem Href="https://www.linkedin.com/in/iammukeshm/" Target="_blank">LinkedIn</MudMenuItem>
                <MudMenuItem Href="https://www.buymeacoffee.com/codewithmukesh" Target="_blank">Buy Me a Coffee!
                </MudMenuItem>
                <MudMenuItem Href="https://opencollective.com/fullstackhero" Target="_blank">Open Collective
                </MudMenuItem>
                <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Resources</b></MudText>
                <MudMenuItem Href="https://fullstackhero.net/" Target="_blank">Documentation
                </MudMenuItem>
            </MudMenu>
        </MudTooltip>
        <MudTooltip Text="Fork Repository">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                Href="https://github.com/fullstackhero/dotnet-starter-kit" Target="_blank" />
        </MudTooltip>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <MudTooltip Text="Sponsor">
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Inherit"
                Href="https://opencollective.com/fullstackhero" Target="_blank" />
        </MudTooltip>
        <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Dense="true" AnchorOrigin="Origin.CenterRight">
            <div class="px-2">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                    Href="https://github.com/fullstackhero/blazor-wasm-boilerplate" Target="_blank" />
                <MudIconButton Icon="@Icons.Material.Filled.Coffee" Color="Color.Inherit"
                    Href="https://www.buymeacoffee.com/codewithmukesh" Target="_blank" />
            </div>
            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Community</b></MudText>
            <MudMenuItem Href="https://discord.gg/yQWpShsKrf" Target="_blank">Discord</MudMenuItem>
            <MudMenuItem Href="https://www.facebook.com/codewithmukesh" Target="_blank">Facebook
            </MudMenuItem>
            <MudMenuItem Href="https://www.Hrefedin.com/in/iammukeshm/" Target="_blank">HrefedIn</MudMenuItem>
            <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Resources</b></MudText>
            <MudMenuItem Href="https://mudblazor.com/getting-started/installation" Target="_blank">
                MudBlazor Documentation</MudMenuItem>
            <MudMenuItem Href="https://fullstackhero.net/getting-started/" Target="_blank">
                Quick-Start Guide</MudMenuItem>
        </MudMenu>
    </MudHidden>
     <MudMenu DropShadow="false" PopoverClass="mud-elevation-25" AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
        </ActivatorContent>
        <ChildContent>
            <div class="py-2" style="min-width: 220px">
                <MudMenuItem OnClick="Profile">
                    <div class="d-flex">
                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person" />
                        <MudText>Account</MudText>
                    </div>
                </MudMenuItem>
                <MudMenuItem Href="/dashboard">
                    <div class="d-flex">
                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Dashboard" />
                        <MudText>Dashboard</MudText>
                    </div>
                </MudMenuItem>
                <div class="mt-4 mx-4">
                    <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout" DropShadow="false"
                        Variant="Variant.Filled" OnClick="Logout">
                        Logout
                    </MudButton>
                </div>
            </div>
        </ChildContent>
    </MudMenu>
</MudAppBar>
<MudDrawer @bind-Open="_drawerOpen" outlined ClipMode="DrawerClipMode.Never">
    <NavMenu />
</MudDrawer>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="px-6 py-6">
        @ChildContent
        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
        </MudScrollToTop>
    </MudContainer>
</MudMainContent>