<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BaseLayout)">
                <NotAuthorized>
                    @if (@context.User.Identity?.IsAuthenticated is true)
                    {
                        <p>You are not authorized to be here.</p>
                    }
                    else
                    {
                        <Login />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(NotFound)">
                <NotFound/>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>