@page "/todos"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Todos> _localizer

<PageHeader Title="@_localizer["Todos"]" Header="@_localizer["Todos"]" SubHeader="@_localizer["Manage your Todos."]" />

<EntityTable @ref="_table" TEntity="GetTodoResponse" TId="Guid" TRequest="TodoViewModel" Context="@Context">
    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="@_localizer["Id"]"></MudTextField>
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="@_localizer["Name"]" For="@(() => context.Title)" @bind-Value="context.Title" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="@_localizer["Note"]" For="@(() => context.Note)" @bind-Value="context.Note" />
        </MudItem>
        @* <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            @_localizer["View"]
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            @_localizer["Delete"]
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem> *@
    </EditFormContent>

</EntityTable>