@page "/identity/users/{Id}/roles"
@inject Microsoft.Extensions.Localization.IStringLocalizer<UserRoles> _localizer

<PageHeader Title="@_title" Header="@_title" SubHeader="@_description" />

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Outlined Items="_userRolesList" Filter="new Func<UserRoleDetail, bool>(Search)">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Info" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack" Href="/identity/users">
                    @_localizer["Back"]
                </MudButton>
                @if (_canEditUsers)
                {
                    <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" StartIcon="@Icons.Material.Filled.Save"
                        ButtonType="ButtonType.Submit" Style="margin-left: 5px!important;">
                        @_localizer["Update"]
                    </MudButton>
                }
            </div>
            <MudSpacer />
            @if (_canSearchRoles)
            {
                <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false
                              Placeholder="@_localizer["Search For User Roles"]" Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3">
                </MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDetail, object?>(x => x.RoleName)">@_localizer["Role Name"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDetail, object?>(x => x.Description)">@_localizer["Description"]</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDetail, object>(x => x.Enabled)">@_localizer["Status"]</MudTableSortLabel>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="@_localizer["Role Name"]">
                <MudHighlighter Text="@context.RoleName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="@_localizer["Description"]">
                <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="@_localizer["Status"]">
                <MudCheckBox T="bool" @bind-Value="@context.Enabled" Disabled="@(!_canEditUsers)" Color="Color.Secondary">
                </MudCheckBox>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}